

/* From Uiverse.io by Juanes200122 */ 
.diamond-container {
  background-color: transparent;
}

@keyframes bounce {
  0%,
  100% {
    translate: 0px 36px;
  }
  50% {
    translate: 0px 46px;
  }
}

@keyframes bounce2 {
  0%,
  100% {
    translate: 0px 46px;
  }
  50% {
    translate: 0px 56px;
  }
}

@keyframes umbral {
  0% {
    stop-color: #d3a5102e;
  }
  50% {
    stop-color: rgba(211, 165, 16, 0.519);
  }
  100% {
    stop-color: #d3a5102e;
  }
}

@keyframes partciles {
  0%,
  100% {
    translate: 0px 16px;
  }
  50% {
    translate: 0px 6px;
  }
}

#particles {
  animation: partciles 4s ease-in-out infinite;
}

#animatedStop {
  animation: umbral 4s infinite;
}

#bounce {
  animation: bounce 4s ease-in-out infinite;
  translate: 0px 36px;
}

#bounce2 {
  animation: bounce2 4s ease-in-out infinite;
  translate: 0px 46px;
  animation-delay: 0.5s;
}

.container {
  --uib-size: 45px;
  --uib-color: #FFBF00;
  --uib-speed: 1.75s;
  --uib-bg-opacity: .1;
  height: 50px;
  width: 50px;
  transform-origin: center;
  overflow: visible;
}

.car {
  stroke: var(--uib-color);
  stroke-dasharray: 100;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  stroke-linejoin: round;
  animation:
    travel var(--uib-speed) ease-in-out infinite,
    fade var(--uib-speed) ease-out infinite;
  will-change: stroke-dasharray, stroke-dashoffset;
  transition: stroke 0.5s ease;
}

.track {
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: var(--uib-color);
  opacity: var(--uib-bg-opacity);
}

@keyframes travel {
  0% {
    stroke-dashoffset: 100;
  }
  75% {
    stroke-dashoffset: 0;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  20%,
  55% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.slide-down {
  transform: translateY(100%);
  transition: transform 2s ease-in-out;
}